.card-carousel {}

.card-carousel__slide {
  border-radius: 10px;
  box-shadow: 3px 7px 12px 1px #e8e8e8;
  margin: auto 15px;
}

.card-carousel__wrapper {
  height: auto;
}

.card-carousel__dialog {
  height: auto;

  .odo-dialog__content {
    height: 100%;
    width: 100%;
    padding: 15px;
  }

  .odo-dialog__inner {
    background: white;
    margin: 0;
    height: 100%;
  }

  .odo-dialog__close {
    background-color: black;
    height: 50px;
    width: 50px;
    color: white;
    font-weight: 200;
    font-size: 50px;
    right: auto;
    left: 0;
  }
}

.dialog-grid {
  height: 100%;
  overflow: scroll;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col2-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row3-end];
}

.dialog-grid__title {
  grid-column: col1-start;
  grid-row: row1-start;
  padding: 0 15px 0 70px;
  font-size: 30px;

  h1 {
    line-height: 1;
    margin: 15px 0 0;
  }
}

.dialog-grid__glance {
  grid-column: col2-start;
  grid-row: row2-start;
  padding: 0 15px;
  font-size: 35px;
  color: #848484;

  p {
    line-height: 1;
    margin: 0;
  }
}

.dialog-grid__photo {
  grid-column: col2-start;
  grid-row: row3-start / row2-end;
}
.dialog-grid__content {
  grid-column: col1-start;
  grid-row: row3-start;
  padding-left: 55px;

  p {
    line-height: 1.8;
  }
}
