/** Social Circles **/
.social-circle {
  cursor: pointer;
  height: 100%;
  width: 100%;
  perspective: 1000;
  margin-bottom: 20px;
  text-align: center;

  &:hover .flip-container,
  &.hover .flip-container {
    transform: rotateY(180deg);
  }

  .flip-container {
  	height: 100%;
  	width: 100%;
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
  }

  .handle {
    color: $colorWhite;
    font-size: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .front, .back {
  	border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.linkedin .back { background-color: $colorLinkedin; }
  &.twitter .back { background-color: $colorTwitter; }
  &.google-plus .back { background-color: $colorGooglePlus; }
  &.github .back { background-color: $colorGithub; }
  &.instagram .back { background-color: $colorInstagram; }
  &.email .back { background-color: $colorEmail; }
}

@include breakpoint(sm) {
  .social-circle {
    .handle {
      font-size: 10px;
    }
  }
}
